.dis-item {
  display: block;
  margin: 0px;
  padding: 0px;
}

.dis-jpg {
  display: block;
  width: 370px;
  height: 295px;
}

.img-box {
  position: relative;
}

.distinguish {
  padding-top: 94px;

  @include for-size(max-desktop) {
    display: none;
  }
}

.distinguish-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.image-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  padding: 27px;

  background: rgba(47, 48, 58, 0.8);
}

.dis-caption {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-text-color;
}
