$accent-color: #2196f3;
$main-text-color: #212121;
$white-text-color: #ffffff;
$contact-label-color: #757575;
$button-backround: #f5f4fa;
$description-background: rgba(33, 150, 243, 0.9);
$footer-color: #2f303a;
$footer-contact: rgba(255, 255, 255, 0.6);
$team-section-background: #f5f4fa;
$icons: #afb1b8;
